.card {
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(37, 38, 94, 0.06);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    height: 210px;
    position: relative;
    text-align: center;
}

.card:hover .image {
    top: 46px;
}

.image {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.number {
    color: #F2F1F0;
    display: block;
    font-size: 75px;
    font-weight: 700;
    height: 100px;
}

.name {
    color: #0C2343;
    display: block;
    font-size: 18px;
    font-weight: 700;
}

.category {
    color: #758A97;
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}