.header {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(37, 38, 94, 0.06);
    display: none;
    
    max-width: 1200px;
    

    @media (min-width: 768px) {
        display: grid;
        height: 87px;
        margin: 30px auto;
        align-items: center;
    }
}

.navlist {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
}