.header {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(37, 38, 94, 0.06);
    display: grid;
    align-items: center;
    height: 87px;
    max-width: 1200px;
    margin: 30px auto;
}

.navlist {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
}