.type {
    height: 30px;
    border-radius: 6px;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 5px;
    padding: 0 15px;
    text-align: center;
    text-transform: uppercase;
}

.type span {
    filter: brightness(35%);
}

.type-bug {
    background-color: var(--bug-color);
    color: var(--bug-color);
}

.type-fire {
    background-color: var(--fire-color);
    color: var(--fire-color);
}

.type-normal {
    background-color: var(--normal-color);
    color: var(--normal-color);
}

.type-grass {
    background-color: var(--grass-color);
    color: var(--grass-color);
}

.type-poison {
    background-color: var(--poison-color);
    color: var(--poison-color);
}

.type-flying {
    background-color: var(--flying-color);
    color: var(--flying-color);
}

.type-ground {
    background-color: var(--ground-color);
    color: var(--ground-color);
}

.type-electric {
    background-color: var(--electric-color);
    color: var(--electric-color);
}

.type-steel {
    background-color: var(--steel-color);
    color: var(--steel-color);
}

.type-water {
    background-color: var(--water-color);
    color: var(--water-color);
}

.type-fighting {
    background-color: var(--fighting-color);
    color: var(--fighting-color);
}